html,
body,
header,
#intro {
    height: 100%;
    scroll-behavior: smooth;
}

#intro{
    background: url("../assets/icon/nataraj.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

footer{
    background-color: #1D1E32;
}

